.lists-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-lists {
        text-align: center;
        color: rgb(5, 5, 53);
        width: 100rem;
    }

    button {
        margin-left: 17px;
        width: 49vw;
        height: 50px;
    }
}
