.edit {
    @media only screen and (min-width: 1000px) {
        width: 700px;
    }
    input {
        width: 40%;
        min-width: 110px;
        height: 36px;
        font-size: 100%;
        color: rgb(5, 5, 53);
        border: 2px solid rgb(111, 151, 160);
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(123, 166, 213);
        margin: 3px;
        padding-left: 8px;

        &:active,
        &:focus {
            outline: none;
            border-color: rgb(46, 173, 223);
            box-shadow: 0 0 4px;
        }
    }
    .buttons {
        width: 30%;
        font-size: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0;

        .edit-button {
            font-size: 70%;
            width: 50%;
            min-width: 55px;
        }
    }
}
