@keyframes cardHoverOn {
    100% {
        transform: scale(1.02, 1);
    }
}

@keyframes cardHoverOff {
    100% {
        transform: scale(0.98, 1);
    }
}

.hover-animation {
    animation: cardHoverOff 0.15s linear forwards;

    &:hover,
    &:active {
        animation: cardHoverOn 0.15s linear forwards;
    }
}

.list-item {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        align-self: stretch;
        width: 40vw;
        text-decoration: none;
        color: rgb(5, 5, 53);
        display: flex;
        justify-content: flex-start;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        button {
            width: 3vw;
            height: 4.3vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
