.hover-animation {
    @media only screen and (min-width: 1000px) {
        width: 700px;
        transition: width 0.15s ease-in-out;

        &:hover,
        &:active {
            width: 730px;
        }
    }
}

li {
    width: 100%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 100%;
        min-width: 700px;
        @media only screen and (max-width: 999px) {
            width: 80%;
            min-width: 300px;
        }

        a {
            margin: 0;
            width: 60%;
            font-size: 80%;
            text-decoration: none;
            color: rgb(5, 5, 53);
            display: flex;
            justify-content: flex-start;
        }

        .buttons {
            width: 30%;
            font-size: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0;

            button {
                font-size: 100%;
                width: 20%;
                height: 4.3vh;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 120%;
                }
            }
        }
    }
}
